{% extends 'BaseTemplate.html' %} {% block pageJS%}
<script src="{{url_for('static', filename='/js/base.js')}}"></script>
{% endblock %} {% block contentBody%}

<body>
  <div id="MainArea" class="container-fluid">
    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn btn-outline-primary"
          @click="user_subscribe"
        >
          用戶訂閱
        </button>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg"
              >輸入發送訊息</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg"
            v-model="message"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              @click="msg_send"
            >
              發送訊息
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ul class="list-group" v-for="item in msg_history">
          <li class="list-group-item">[[ item.msg ]] , [[item.InertDate]]</li>
        </ul>
      </div>
    </div>
  </div>
</body>

{% endblock %}
